body{
	background: #000;
	color:#fff;
	margin: 0;
	padding: 0;
}

body,html{
	height:100%;
}

.pong-app{
	position: absolute;
	width: 800px;
	height: 600px;
	top: 50%;
	margin-top: -300px;
	left: 50%;
	margin-left: -400px;

	border: #fff 1px solid;
}

.court{
	position: absolute;

	.middle{
		position: absolute;
		border-style: none dashed none none;
		height: 600px;
		width: 400px;
	}
}
