.points{
	position: absolute;
	top:15px;
	font-size: 48px;
	line-height: 48px;
	width: 50%;
	text-align: center;
	font-family: sans-serif;
}

.points.player1 {
	left: 0;
}

.points.player2 {
	left: 400px;
}